/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.04.2017, 11:24:31
    Author     : mivanchenko
*/
.centralwidget
{
    display: grid;
    height: 97vh;
  
    grid-template-columns: [left-border] 1fr [v-split] 400px [right-border];
    grid-template-rows: [top-border] 30px [header] 160px [h-split] 1fr [footer] 30px [bottom-border];
}

[id^="pn_"]
{
    padding: 10px;
}

/*.centralwidget > :nth-child(1) */
#pn_order
{ /*order*/
    background-color: #DDD;
  
    grid-column-start: left-border;
    grid-column-end: v-split;
  
    grid-row-start: header;
    grid-row-end: h-split;
}

/*.centralwidget > :nth-child(2)*/
#pn_order_list
{ /*list*/
 /*   background-color: #000;*/
  
    grid-column-start: left-border;
    grid-column-end: v-split;
  
    grid-row-start: h-split;
    grid-row-end: footer;
    
    padding: 0;
}

/*.centralwidget > :nth-child(3) */
#pn_user_ar
{ /*user AR*/
    background-color: #DDD;
  
    grid-column-start: v-split;
    grid-column-end: right-border;
  
    grid-row-start: header;
    grid-row-end: footer;
}

/*.centralwidget > :nth-child(4) */
#pn_footer
{ /*footer*/
    background-color: #55F;
  
    grid-column-start: left-border;
    grid-column-end: right-border;
  
    grid-row-start: footer;
    grid-row-end: bottom-border;
    
    text-align: center;
    font-size: 0.8em;
}

#pn_header
{ /*header*/
    background-color: #55F;
    padding: 5px;
  
    grid-column-start: left-border;
    grid-column-end: right-border;
  
    grid-row-start: top-border;
    grid-row-end: header;
    
    text-align: center;
    font-size: 1.2em;
}

.title 
{
    text-align: right;
    width: 160px;
}
.btn
{
    text-align: right;
    vertical-align: bottom;
/*    width: 220px;*/
}
/*
*   user data
*/
.field 
{
    width: 220px;
}

.cn_field 
{
    width: 100%;
}

.tbl_user_data
{
    width: 100%;
}

#id_list
{
    width: 100%;
}

#id_search
{
    width: 100%;
}
/*
*   order data
*/
.o_field 
{
    width: 300px;
}

/*
*   order list
*/
.orderlist
{
/*    min-width: 1fr;*/
    border: solid;
    border-width: 1px;
    width: 100%;
    
    font-size: 0.9em;
}
/*        <th class="colbasin">Бассейн*/
.colbasin
{
    width: 100px;
    border: solid;
    border-width: 0.5px;
}
/*        <th class="colar">ВБР*/
.colar
{
    width: 1fr;
    border: solid;
    border-width: 0.5px;
}
/*        <th class="colreg">Район*/
.colreg
{
    width: 150px;
    border: solid;
    border-width: 0.5px;
}
/*        <th class="colsubj">Субъект РФ*/
.colsubj
{
    width: 150px;
    border: solid;
    border-width: 0.5px;
}
/*        <th class="colpor">Доля, %*/
.colpor
{
    width: 150px;
    border: solid;
    border-width: 0.5px;
}

[class^="data_"]
{
    border: solid;
    border-width: 0.5px;
    
    font-size: 0.8em;
}
/*data quota type*/
.data_qtype
{
    background-color: #D0E6F6;
    color: darkred;

    font-size: 0.9em;
    font-weight: bold;
    
    text-align: center;
}
/*        <td class="data_basin"> basin 1*/

/*        <th class="data_ar">ВБР */

/*        <th class="data_reg">Район */

/*        <th class="data_subj">Субъект РФ */

/*        <th class="data_por">Доля, % */
.data_por
{
    text-align: right;
    color: darkolivegreen;
    font-weight: bold;
}
