/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.04.2017, 11:24:31
    Author     : mivanchenko
*/
.centralwidget
{
    display: grid;
    height: 97vh;
  
    grid-template-columns: [left-border] 1fr [v-split] 400px [right-border];
    grid-template-rows: [top-border] 30px [header] 200px [h-split] 1fr [footer] 30px [bottom-border];
}

[id^="pn_"]
{
    padding: 10px;
}

/*.centralwidget > :nth-child(1) */
#pn_order
{ /*order*/
    background-color: #FFF;
  
    grid-column-start: left-border;
    grid-column-end: v-split;
  
    grid-row-start: header;
    grid-row-end: h-split;
}

/*.centralwidget > :nth-child(2)*/
#pn_order_list
{ /*list*/
    background-color: #AAF;
  
    grid-column-start: left-border;
    grid-column-end: v-split;
  
    grid-row-start: h-split;
    grid-row-end: footer;
}

/*.centralwidget > :nth-child(3) */
#pn_user_ar
{ /*user AR*/
    background-color: #7F7;
  
    grid-column-start: v-split;
    grid-column-end: right-border;
  
    grid-row-start: header;
    grid-row-end: footer;
}

/*.centralwidget > :nth-child(4) */
#pn_footer
{ /*footer*/
    background-color: #00F;
  
    grid-column-start: left-border;
    grid-column-end: right-border;
  
    grid-row-start: footer;
    grid-row-end: bottom-border;
    
    align-content: center;
}

#pn_header
{ /*header*/
    background-color: #048;
  
    grid-column-start: left-border;
    grid-column-end: right-border;
  
    grid-row-start: top-border;
    grid-row-end: header;
}

.title 
{
    text-align: right;
    width: 160px;
}
.btn
{
    text-align: right;
    width: 220px;
}

.field 
{
    width: 220px;
}

.cn_field 
{
    width: 100%;
}

.tbl_user_data
{
    width: 100%;
}

#id_list
{
    width: 100%;
}

#id_search
{
    width: 100%;
}
